/*
Colors used:
Primary Color (Black): #0B0C10;
Secondary Color (White): #C7C7C7;
Secondary Color (Blue): #00A0CB;
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero_container {
    width: 100%;
    display: flex;
    overflow: auto;
    align-items: center;
    flex-direction: column;
    background-color: black;
    
  }

.hero{
    padding: 40px 50px 60px 50px;
    width: 100%;
    display: flex;
    min-height: 80vh;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #000000;
}

.hero_container2 {
    display: flex;
    margin-left: var(--dl-space-space-twounits);
    flex-direction: column;
}

.hero img{
    float: right;
    max-width: 300px;
}
  
nav{
    display: flex;
    align-items: right;
    justify-content: space-between;
    max-width: 100%;
    padding-top: 10px;
    padding-right: 8%;
}

.container {
    padding: 10px 10%;
    text-align: center;
    background-color: black;
  }

.logo{
    max-width: 100px;
    float: left;
    cursor: pointer;
}

span{
    color: #00A0CB;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #00A0CB;
    transition: .4s;
}
.btn{
    background-color: #00A0CB;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid #00A0CB;
    cursor: pointer;
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(50%);
}
h1{
    color: white;
    margin: 20px 0px;
    font-size: 75px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #00A0CB;
    letter-spacing: 2px;
    font-size: 20px;
}

.about{
    padding: 40px 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    text-align: left;
    color: white;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
}
.about-text p{
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: white;
    line-height: 1.6;
    padding-top: 20px;
    padding-bottom: 20px;
}
button{
    background-color: #00A0CB;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid #00A0CB;
    cursor: pointer;
}
.service{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2a393e;
}

.title h2{
    color: white;
    font-size: 75px;
    max-width: 100%;
    padding: 20px;
    text-align: center;
    background-color: transparent;
}
.box{
    display: flex;
    justify-content: center;
    min-height: 300px;
}
.serv{
    display: inline-block;
    width: 310px;
    padding: 20px 35px;
    background: transparent;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.serv i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: black;
}

.serv img{
    max-width: 100px;
    object-fit: cover;
    margin-bottom: 20px;
}

.serv-card{
    color: #000000;
    border-radius: 25px;
    justify-content: center;
    min-height: 200px;
    display: inline-block;
    width: 310px;
    padding: 20px 35px;
    background: transparent;
    margin: 15px;
    position: relative;
    overflow: hidden;
}

h5{
    color: white;
    font-weight: 600;
    font-size: 18px;
}
.pra p{
    text-align: justify;
    font-size: 14px;
    font-weight: 500;
    color: white;
    line-height: 1.6;
    padding-top: 15px;
}



.gallery{
    width: 100%;
    align-items: center;
    background-color: #2a393e;
}

.gallery p{
    font-size: 16px;
    font-weight: 500;
    color: white;
    line-height: 1.6;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(3,250px);
    grid-gap: 40px 40px;
    background-color: transparent;
    padding: 10px 30px 50px 30px;
    justify-content: center;
}

.grid-gallery figure {
    max-width:fit-content;
    max-height: fit-content;
    overflow: hidden;
  }
  
  
  .grid-gallery img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  

.testimonials{
    display: grid;
    place-items: center;
    background: black;
}

.test-container{
    max-width: 100%;
    margin: auto;
    padding: 0 30px;
    display: flex;
    flex-wrap: flex;
    align-items: center;
    justify-content: space-between;
}

.card{
    width: calc(33% -10px);
    padding: 24px;
    border-radius: 15px;
    cursor: pointer;
    background: transparent;
}

.test-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 10px;

}

.info{
    margin-left: 30px;
}

.photo{
    height: 76px;
    width: 76px;
    padding: 2px;
    border-radius: 50%;
    background-color: #00A0CB;
}

.photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.name{
    font-weight: 600;
    font-size: 18px;
    color: white;
}

.description{
    text-align: justify;
    font-size: 14px;
    font-weight: 500;
    color: white;
    line-height: 1.6;
}

.stars{
    margin-top: 12px;
}

.stars i{
    color: white;
}



  
.contact-me{
    width: 100%;
    height: 290px;
    background: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact-me .button-two{
    background-color: #00A0CB;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid #00A0CB;
    cursor: pointer;
}

footer{
    position: relative;
    width: 100%;
    height: 300px;
    background: rgb(42, 42, 43);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

footer p:nth-child(3){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social{
    display: flex;
}

.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00A0CB;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}

.end{
    position: absolute;
    color: #00A0CB;
    bottom: 35px;
    font-size: 15px;
}

#topBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 30px;
    /* Place the button at the bottom of the page */
    right: 90px;
    /* Place the button 90px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: 2px solid #00A0CB;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #00A0CB;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 15px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
    font-weight: 700;
  }
  
  #topBtn:hover {
    background-color: #0B0C10;
    color: #00A0CB;
  }


  /* //////// Media Queries /////// */

/*clear page flow*/
.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    display: inline-block;
    flex: 1;
    padding: 15px;
  }
  
  
  
  
  /* ==============================
  Medium devices (640px and larger)
  ================================= */
  @media only screen and (min-width: 640px) {
  
  
    nav {
      text-align: unset;
      padding: 15px 0 13px;
      margin: 0 auto;
    }
  
  
    .navtoggle li:not(:last-child) {
      display: inline-block;
    }
  
    .navtoggle li:last-child {
      display: none;
    }
  
    .col-md-6 {
      width: 50%;
    }
  
    nav>ul {
      margin: 1em 0;
    }
  
  
  }
  
  /* ==============================
  Large devices (1024px or larger)
  ================================= */
  @media only screen and (min-width: 1024px) {
    nav {
      text-align: unset;
      padding: 15px 0 13px;
      margin: 0 auto;
    }
  
  
  
  }